# requirements.txt

# Interfacing with sensors.
actuator
berryimu

# Logitech F310 gamepad.
inputs

# IK
pybullet==3.2.6

numpy==2.1.3

# Running the model.
torch
onnx
onnxruntime
onnxscript

# Vuer
vuer==0.0.30
h5py
dm_env